body {
  display: grid;
  grid-template-areas:
    "header header header"
    "ads article nav"
    "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 20%;
  grid-gap: 10px;
  height: 100vh;
}

.header,
.footer,
.mainArticle,
.navigation,
div {
  padding: 20px;
  background: lightblue;
}
.header {
  grid-area: header;
}

.navigation {
  grid-area: nav;
}

.mainArticle {
  grid-area: article;
}

.mainAds {
  grid-area: ads;
}

.footer {
  grid-area: footer;
}
